
#Digital forms API
digitalFormsDevBaseUrl=
digitalFormsApi-username=
digitalFormsApi-password=

#Database
db-dev-username=
db-dev-password=
db-dev-connectionString=

#ORDS API
OrdsApi-username=
OrdsApi-password=

#Test env
automation-env=