
#Digital forms API
digitalFormsDevBaseUrl=
digitalFormsApiUsername=
digitalFormsApiPassword=

#Database
dbUsername=
dbPassword=
dbConnectionString=

#ORDS API
ordsApiUsername=
ordsApiPassword=

#Test env
automationEnv=