<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Include Spring Boot's default configuration -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Define a custom pattern for console logging -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) {%X{request.correlationid} %X{request.formtype} %X{request.endpoint}} %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Console appender configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level and appenders -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>